body{
  background-image: url("/assets/images/bg.png");
  background-size: cover;
}

#mainBody{
  background-color: white;
}

#input-field-wrapper{
  position: absolute;
  display: inline-block;
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20%;
  margin-left: 8%;
}

#input-field-wrapper div{
  text-align: left;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 18px;
}

#submit-button{
  margin-bottom: 8px;
  margin-top: 13px;
  background: #005B99;
  color: white;
  width: 80px;
  height: 40px;
}

#error-message{
  color: red;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
