.user-wrapper{
  float: right;
}

#logout_button{
  background-color: #8B0000;
  color: white;
}

.search-header {
  margin-bottom: 10px;
  margin-left: 10px;
}

.search-header label {
  font-size: 16px;
  color: black;
  margin-left: 10px;
}

.room-cardbox-wrapper {
  border-top: 1px solid #ececec;
  background-color: white;
}

.room-cardbox-wrapper:hover {
  opacity: 0.7;
}

.room-cardbox-wrapper.active {
  background: #F0F0F0;
}

.room-cardbox-wrapper:not(:last-child) {
  padding-bottom: 20px;
}

.highlight{
  background-color: gray;
}

.room-cardbox-wrapper .card-box .room-image-wrapper {
  height: 100%;
  overflow-y: hidden;
}

.room-cardbox-wrapper .card-box .room-image-wrapper img {
  margin: auto;
  width: 100%;
  border-width: 2px;
  border-color: black;
}

.room-content .room-name {
  color: black;
  font-weight: bold;
  font-size: 28px;
  margin-left: -10px;
  margin-bottom: 7px;
  margin-top: -6px;
}

.room-content .room-status {
  float: right;
  font-size: 22px;
  font-weight: bold;
  margin-right: -10px;
}

.room-content .room-status.status-warning {
  color: #eb7904;
}

.room-content .room-status.status-warning .status-detail {
  text-decoration: underline;
}

.room-content .room-status.status-accept {
  color: #85bc00;
}

.room-content .room-description p, .room-content .room-description span {
  font-size: 16px;
  color: black;
}

.room-content .room-description .icon {
  width: 20px;
  margin-right: 10px;
  float: left;
  text-align: center;
}

.room-content .room-description .icon span {
  margin-left: 5px;
  color: #233A76;
}

.room-cardbox-wrapper .card-box .room-image-wrapper {
  height: 100%;
  overflow-y: hidden;
}

.room-cardbox-wrapper .card-box .room-image-wrapper img {
  margin: auto;
  width: 100%;
  height: 100%;
}

.panel-body p {
  font-size: 14px;
}

.time-date p {
  color: black;
}

.room-amenities span {
  float: left;
}

.element {
  margin-left: 5px;
}

.building-container label{
  padding-top: 10px;
}

.building-container div{
  padding-top: 10px;
  margin-left: -10px;
}

.floor-container label{
  padding-top: 10px;
}

.floor-container div{
  padding-top: 10px;
  margin-left: -10px;
}

.capacity-container label{
  padding-top: 10px;
}

.capacity-container span{
  margin-left: 2px;
}

.capacity-container div{
  padding-top: 10px;
  margin-left: -10px;
}

.filter-title {
  padding-left: 20px;
}

.filter-title span {
  margin-right: 10px;
  color: #233A76;
}

#amenities-box {
  margin-left: 8px;
}

.content-box-element .control-label{
  padding-top: 15px;
}
