<!DOCTYPE html>
<html ng-app="RoomManager">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/toolbar.css" />
</head>
<body id="mainBody" ng-controller="roomsController" bgcolor="white">
    <button id="toggle_button" ng-click="toggle()">Toggle</button>
    <div class="user-wrapper">
      <div class="user-name">{{username}}</div>
      <button ng-click="logout()" id="logout_button">Logout</button>
    </div>
    <div class="time-date">
        <p class="col-xs-6" id="startTime">{{startTime}}</p>
        <p class="col-xs-6" id="endTime">{{endTime}}</p>
    </div>
    <div class="search-header row">
    	  <label class="col-xs-11">Search By Room Name</label>
    	  <div class="search-input-wrapper col-xs-11">
    	      <input type="text" ng-model="search.roomName" class="form-control search-label" placeholder="Search">
    	  </div>
        <div class="building-container">
        <label class="col-xs-3 filter-title"><span class="glyph-icon icon-typicons-location-outline primary-color"></span> Building</label>
            <div class="col-xs-8">
                <select class="form-control" ng-model="buildingSelected" data-ng-options="room.buildingName for room in roomsList" ng-change="changeCapacity(buildingSelected)">
                  <option value="">Select Building</option>
                </select>
            </div>
        </div>
        <div class="floor-container">
        <label class="col-xs-3 filter-title"><span class="glyph-icon icon-iconic-layers primary-color"></span> Floor</label>
            <div class="col-xs-8">
                <select class="form-control" ng-model="floorSelected" data-ng-options="floor for floor in buildingSelected.floorList" ng-change="changeCapacity(buildingSelected)">
                  <option value="">Select Floor</option>
                </select>
            </div>
        </div>
    </div>
    <div ng-init="getRooms" class="panel-body room-cardbox-wrapper" tabindex="-1" ng-repeat="room in roomsList | filter: search | filter: {buildingName : buildingSelected}" ng-click="selectRoom(room)" ng-class = "{active : $index == selected}">
            <div class="card-box row" >
                <div class="room-image-wrapper col-xs-6">
                    <img class="img-rounded" ng-src="{{room.roomImage}}" == "null" || src="/assets/images/no_image.png"></img>
                </div>
                <div class="room-content col-xs-6">
                    <div class="room-name">{{room.roomName}}</div>
                    <div class="row room-description">
                        <div class="room-detail-side">
                            <div class="icon"><span class="glyph-icon icon-typicons-location-outline"></span></div><p> Building : {{room.buildingName}}</p>
                            <div class="icon"><span class="glyph-icon icon-iconic-layers"></span></div><p> Floor : {{room.floor}} </p>
                            <div class="icon"><span class="glyph-icon icon-iconic-user"></span></div><p> Capacity : {{room.roomCapacity}} People</p>
                        </div>
                        <div class="room-amenities">
                            <span class="primary-color"> Amenities : </span>
                            <div class="amenities-element" ng-repeat="element in room.amenities"><div><span class="element">{{element}}</span></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
