<!DOCTYPE html>
<html ng-app="RoomManager">
<head>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/typicon/typicons.css">
    <link rel="stylesheet" type="text/css" href="/assets/iconic/iconic.css">
    <link rel="stylesheet" href="/assets/angular/angular-material.css" />
    <link rel="stylesheet" href="/css/toolbar.css" />

    <script src="/assets/angular/angular.js" data-semver="1.3.15"></script>
    <script src="/assets/angular/angular-animate.js"></script>
    <script src="/assets/angular/angular-aria.js"></script>
    <script src="/assets/angular/angular-material.js"></script>
    <script src="/assets/angular/angular-route.js"></script>
    <script src="/assets/angular/ng-file-upload.min.js"></script>
    <script src="/assets/moment-with-locales.js"></script>
    <script src="/assets/moment-round.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-cookie.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script src="/app/app.js"></script>
    <script src="/service/services.js"></script>
    <script src="/controller/controllers.js"></script>

    <meta charset="UTF-8">
    <title>Hello World!</title>
    <style>
        body {
           color: white;
        }
    </style>
</head>
<body ng-controller="roomsController">
    <button id="toggle_button">Toggle</button>
    <div class="time-date">
        <p class="col-xs-3" id="startDate"></p>
        <p class="col-xs-3" id="startTime"></p>
        <p class="col-xs-3" id="endTime"></p>
        <p class="col-xs-3" id="endDate"></p>
    </div>
    <div class="search-header row">
    	  <label class="col-xs-11 filter-title">Search By Room Name</label>
    	  <div class="search-input-wrapper col-xs-11">
    	      <input type="text" ng-model="search.roomName" class="form-control search-label" placeholder="Search">
    	  </div>
    </div>
    <div ng-init="getRooms" class="panel-body room-cardbox-wrapper" ng-repeat="room in roomsList | filter: search">
            <div class="card-box row" >
                <div class="room-image-wrapper col-xs-6">
                    <img class="img-rounded" src={{room.roomImage}}></img>
                </div>
                <div class="room-content col-xs-6">
                    <div class="room-name">{{room.roomName}}</div>
                    <div class="row room-description">
                        <div class="room-detail-side">
                            <div class="icon"><i class="glyph-icon icon-typicons-location-outline"></i></div><p>Building : {{room.buildingName}}</p>
                            <div class="icon"><i class="glyph-icon icon-iconic-layers"></i></div><p> Floor : {{room.floor}} </p>
                            <div class="icon"><i class="glyph-icon icon-iconic-person"></i></div><p>Capacity : {{room.roomCapacity}} People</p>
                        </div>
                        <div class="room-amenities col-xs-6">
                            <span class="primary-color">Amenities : </span>
                            <div class="amenities-element" ng-repeat="element in room.amenities"><div><span>{{element}}</span></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="toolbar.js"></script>
</html>
