<!DOCTYPE html>
<html ng-app="RoomManager">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body ng-controller="roomsController" bgcolor="white">
    <button id="toggle_button">Toggle</button>
    <div class="user-wrapper">
      <div class="user-name">{{username}}</div>
      <button ng-click="logout()" id="logout_button">Logout</button>
    </div>
    <div class="time-date">
        <p class="col-xs-3" id="startDate"></p>
        <p class="col-xs-3" id="startTime"></p>
        <p class="col-xs-3" id="endTime"></p>
        <p class="col-xs-3" id="endDate"></p>
    </div>
    <div class="search-header row">
    	  <label class="col-xs-11 filter-title">Search By Room Name</label>
    	  <div class="search-input-wrapper col-xs-11">
    	      <input type="text" ng-model="search.roomName" class="form-control search-label" placeholder="Search">
    	  </div>
    </div>
    <div ng-init="getRooms" class="panel-body room-cardbox-wrapper" ng-repeat="room in roomsList | filter: search">
            <div class="card-box row" >
                <div class="room-image-wrapper col-xs-6">
                    <img class="img-rounded" src={{room.roomImage}}></img>
                </div>
                <div class="room-content col-xs-6">
                    <div class="room-name">{{room.roomName}}</div>
                    <div class="row room-description">
                        <div class="room-detail-side">
                            <div class="icon"><i class="glyph-icon icon-typicons-location-outline"></i></div><p>Building : {{room.buildingName}}</p>
                            <div class="icon"><i class="glyph-icon icon-iconic-layers"></i></div><p> Floor : {{room.floor}} </p>
                            <div class="icon"><i class="glyph-icon icon-iconic-person"></i></div><p>Capacity : {{room.roomCapacity}} People</p>
                        </div>
                        <div class="room-amenities col-xs-6">
                            <span class="primary-color">Amenities : </span>
                            <div class="amenities-element" ng-repeat="element in room.amenities"><div><span>{{element}}</span></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
